---
---

$orange: #ea5727;
$red: #f00;
$black: #231d24;
$dark-beige: #ccb89c;
$light-beige: #f2ede6;
$twitter-blue: #6aa9e0;
$facebook-blue: #49629d;
$light-grey: #999;
$mid-grey: #666;
$dark-grey: #333;

$serif: "PT Serif", serif;
$sans: "PT Sans Narrow", sans-serif;
$mono: "Inconsolata", monospace;

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif|Inconsolata');
@import 'genericons/genericons';
@import 'syntax';
@import 'plyr';

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  background: $black;
}

article, section, aside, nav, header, footer, figure, figcaption {
  display: block;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}

body {
  background: #fff;
  color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  font-family: $serif;
  font-size: 100%;
}

h1, h2, h3, h4 {
  color: #000;
  font-family: $sans;
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  font-size: 2em;
}

h3, h4 {
  font-size: 1.5em;
}

section h1,
section h2,
section h3,
section h4 {
  margin-bottom: 0.5em;
}

section h1.entry-title { margin-bottom: 0; }

p {
  line-height: 1.6em;
  margin: 1em 0;
}

header {
  background-image: url("{{ site.baseurl }}/assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: none;
  height: 100px;
}

a#site-header {
  color: $orange;
}

#site-header {
  font-size: 8em;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $light-beige;
  color: $dark-grey;
  font-family: $sans;
  font-size: 2em;
  margin-bottom: 20px;
  padding: 5px;
}

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.nav-menu li
{
  display: none;
}

ul.nav-menu li a {
  display: inline-block;
  color: $dark-grey;
  padding: 0;
  text-decoration: none;
}

ul.nav-menu li a:hover {
  border-bottom: 5px solid $dark-beige;
}

ul.nav-menu li a#current {
  color: $orange;
  border-bottom: 5px solid $orange;
}

ul.nav-menu.responsive {
  position: relative;
}

ul.nav-menu.responsive li {
  float: none;
  display: inline;
}

ul.nav-menu.responsive li a {
  display: block;
  text-align: center;
}

ul.nav-menu.responsive li a:hover,
ul.nav-menu.responsive li a#current,
ul.nav-menu li.nav-icon a:hover {
  border-bottom: 0;
}

ul.nav-menu li.nav-icon {
  float: right;
  display: inline-block;
  padding-bottom: 0;
}

ul.nav-menu li.nav-icon a:after {
  font: normal 16px/1 'Genericons';
  content: '\f431';
}

ul.nav-menu.responsive li.nav-icon {
  position: absolute;
  right: 0;
  top: 0;
}

ul.nav-menu.responsive li.nav-icon a:after {
  font: normal 16px/1 'Genericons';
  content: '\f432';
}

#wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#blog,
section {
  padding: 0 20px;
}

article {
  margin-bottom: 60px;
}

section a:link,
section a:visited,
article a:link,
article a:visited,
aside a:link,
aside a:visited {
  color: $orange;
  text-decoration: none;
}

.entry-title {
  font-family: $sans;
}

section a.entry-title,
article a.entry-title {
  color: #000;
}

.entry-meta {
  font-family: $sans;
  display: block;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2em;
}

.entry-meta .date a {
  color: $dark-grey;
}

.entry-meta .date a:hover {
  // color: $orange;
}

.entry-meta .date {
  margin-right: 1em;
}

.entry-meta .date a:before,
.entry-meta .categories:before,
.entry-meta .tags:before,
.entry-meta .comments:before {
  display: inline-block;
  vertical-align: -0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entry-meta .date a:before {
  font: normal 16px/1 'Genericons';
  content: '\f303';
}

.entry-meta .categories:before {
  font: normal 16px/1 'Genericons';
  content: '\f301';
}

.entry-meta .categories,
.entry-meta .tags {
  margin-right: 1em;
}

.entry-meta .tags:before {
  font: normal 16px/1 'Genericons';
  content: '\f302';
}

.entry-meta .comments:before {
  font: normal 16px/1 'Genericons';
  content: '\f300';
}

blockquote {
  display: block;
  color: $mid-grey;
  border-left: 5px solid $mid-grey;
  padding-left: 1em;
  margin: 2em;
}

blockquote p {
  margin: 0;
}

/* Sidebar */

aside .module {
  margin-top: 2em;
}

.spotify:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f515';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.newsletter:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f463';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.shows:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f307';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.tips:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f221';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.links:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f107';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

aside {
  background: $light-beige;
  padding: 40px;
  line-height: 1.6em;
}

aside ul {
  padding: 0;
}

aside li {
  list-style-type: none;
}

/* Footer */

footer {
  color: $light-grey;
  flex: none;
  font-size: 1em;
  padding: 40px;
  text-align: center;
}

footer a {
  color: $light-grey;
}

.bottom-nav {
  padding-bottom: 1em;
}

.genericon-twitter,
.genericon-facebook,
.genericon-home,
.genericon-top {
  font-size: 32px;
  margin: 0 0.3em;
}

.genericon-facebook:hover {
  color: $facebook-blue;
  transition: .2s ease-in;
}

.genericon-twitter:hover {
  color: $twitter-blue;
  transition: .2s ease-in;
}

section ul,
article ul {
  margin: 10px 0;
  padding: 0 2em;
}

section li,
article li {
  line-height: 1.6em;
  padding-bottom: 0.5em;
}

section li a:link,
section li a:link {
  border-bottom: 0;
}

.credits {
  font-size: 0.75em;
}

.credits a:hover {
  text-decoration: underline;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}

img.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin: 1em auto;
}

img.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}

video {
  width: 100%;
  height: auto;
}

a.vid-vimeo h2,
a.vid-youtube h2 {
  display: inline-block;
}

a.vid-vimeo:after,
a.vid-youtube:after {
  color: $light-grey;
  font: normal 32px/1 'Genericons';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

a.vid-vimeo:after { content: '\f212'; }
a.vid-youtube:after { content: '\f213'; }

/* Code */

pre {
  font-family: $mono;
  margin: 0;
}

code {
  background: $light-beige;
  color: #000;
  font-family: $mono;
  padding: 0.2em;
}

pre code {
  background: inherit;
  color: inherit;
  padding: 0;
}


.lineno {
  color: $light-grey;
}

.highlight {
  background: $light-beige;
  margin: 10px;
  padding: 0.5em;
}

/* Forms */

form {
  margin-top: 3em;
}

#isso-thread section {
  padding: 0;
  margin: 0;
}

form input,
#isso-thread input {
  background: #fff;
  border: 5px solid $dark-beige;
  border-radius: 0;
  color: #000;
  font-family: $serif;
  font-size: 1em;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-appearance: none;
}

form textarea,
#isso-thread .textarea,
.isso-comment > div.text-wrapper > div.textarea-wrapper .textarea,
.isso-postbox > .form-wrapper .textarea {
  background: #fff;
  border: 5px solid $dark-beige;
  border-radius: 0;
  color: #000;
  font-family: $serif;
  font-size: 1em;
  margin: 0;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
}

form input:focus,
form textarea:focus {
  background: #fff;
}

form .send,
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action > input {
  background: #fff;
  border: 5px solid #000;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  float: right;
  font-family: $sans;
  font-size: 1.2em;
  margin-top: 20px;
  width: 100%;
  transition: color 0.5s, background 0.5s;
  -webkit-appearance: none;
}

form .send:hover,
aside form input.button:hover,
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action > input:hover {
  background: $orange;
  border-color: $orange;
  color: #fff;
  transition: color 0.2s, background 0.2s;
}

form .send:active,
aside form input.button:active,
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action > input:active {
  background: #000;
  border-color: $orange;
  color: $orange;
  transition: color 0s, background 0s;
}

/* Isso Specific */

#isso-root {
  clear: both;
}

section #isso-thread {
  padding: 0;
}

#isso-thread {
  padding: 0;
  margin: 0;
}

form input::placeholder,
textarea::placeholder,
#isso-thread input::placeholder,
#isso-thread .textarea.placeholder {
  color: $dark-beige;
}

.isso-comment > div.text-wrapper > div.text p,
.isso-comment > div.text-wrapper > div.text p:last-child {
  margin: 20px 0;
}

#isso-thread div.isso-postbox p {
  margin: 0;
}

#isso-thread .isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  background: #fff;
  border: 5px solid $dark-beige;
  border-top: 0;
  border-radius: 0;
  color: #000;
  font-family: $serif;
  font-size: 1em;
  display: inline-block;
  float: left;
  padding: 10px;
  margin: 0;
  width: 33.33%;
  -webkit-appearance: none;
}

#isso-thread .textarea {
  height: 6em;
  overflow-y: auto;
  overflow-x: hidden;
}

#isso-thread .isso-postbox > .form-wrapper > .auth-section .input-wrapper input[type="email"] {
  border-left: 0;
  border-right: 0;
}

#isso-root div.text-wrapper > div.isso-comment-header,
#isso-root div.text-wrapper > div.isso-comment-footer {
  font-family: $sans;
}

.isso-comment > div.text-wrapper > .isso-comment-header a.permalink,
.isso-comment > div.text-wrapper > .isso-comment-header a.parent {
  color: $light-grey;
}

.isso-comment > div.text-wrapper > .isso-comment-header a.permalink:hover,
.isso-comment > div.text-wrapper > .isso-comment-header a.parent:hover
.isso-comment > div.text-wrapper > .isso-comment-header .author a:hover {
  color: $orange;
}

.isso-comment {
  clear: both;
  padding: 20px 0;
  margin: 20px 0;
}

.isso-comment > div.avatar,
.isso-postbox > .avatar {
  display: block;
  float: left;
  width: 60px;
  margin: 0 1em 1em 0;
}
.isso-postbox > .avatar {
  float: left;
  margin: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.isso-comment > div.avatar > svg,
.isso-postbox > .avatar > svg {
  max-width: 60px;
  max-height: 60px;
}

.isso-comment > div.text-wrapper {
  display: block;
}

#isso-root .isso-comment .isso-follow-up {
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.isso-comment > div.text-wrapper > .isso-comment-header .spacer {
  color: $light-grey;
  padding: 0 .5em;
}

.isso-comment > div.text-wrapper > .isso-comment-header .note {
  float: right;
}

.isso-comment > div.text-wrapper > .isso-comment-header .author {
  color: $dark-grey;
  font-size: 1.2em;
}

.isso-comment > div.text-wrapper > .isso-comment-header .author.chris {
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 28%;
  color: $red;
  padding: .1em .3em .1em .3em;
  transition: .2s;
  transition-timing-function: ease-in-out;
}

.isso-comment > div.text-wrapper > .isso-comment-footer >  {
  position: relative;
  top: .2em;
}

.isso-comment > div.text-wrapper > .isso-comment-footer > a + a {
  padding-left: 1em;
}

.isso-comment > div.text-wrapper > .isso-comment-footer .votes {
  color: $dark-grey;
  font-size: 0.75em;
  padding-right: 2px;
}

.isso-comment > div.text-wrapper > .isso-comment-footer .upvote svg,
.isso-comment > div.text-wrapper > .isso-comment-footer .downvote svg {
  fill: $light-grey;
  position: relative;
  top: .2em;
}

.isso-comment > div.text-wrapper > .isso-comment-footer > span.spacer {
  color: $light-grey;
  font-weight: 700;
  padding-right: 2px;
}

.isso-comment .isso-postbox {
  margin-top: 20px;
}

.isso-comment.isso-no-votes span.votes {
  display: none;
}

.isso-postbox > .form-wrapper {
  display: block;
  padding: 0;
}

.isso-postbox > .form-wrapper > .auth-section,
.isso-postbox > .form-wrapper > .auth-section .post-action {
  display: block;
}

.isso-comment:not(:first-of-type),
.isso-follow-up .isso-comment {
  border-top: 2px solid $light-beige;
}

.isso-follow-up .isso-comment {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Sidebar Forms */

aside form {
  margin: 1em 0;
}

aside form input {
  width: 100%;
}

aside form input.button {
  background: #fff;
  border: 5px solid #000;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  font-family: $sans;
  font-size: 1.2em;
  width: 100%;
  transition: color 0.5s, background 0.5s;
}

/* Pagination */

.pagination,
.post-nav {
  font-family: $sans;
  font-size: 1.5em;
}

.pagination a {
  color: $orange;
}

.pagination a.next {
  margin-left: 0.5em;
}

.pagination a.previous {
  margin-right: 0.5em;
}

.pagination a.next:after,
.post-nav .next-post:after {
  font: normal 32px/1 'Genericons';
  content: '\f429';
  vertical-align: -0.25em;
}

.pagination a.previous:before,
.post-nav .previous-post:before {
  font: normal 32px/1 'Genericons';
  content: '\f430';
  vertical-align: -0.25em;
}

/* Post navigation */

.post-nav {
  margin: 40px 0;
}

.post-nav .next-post {
  float: right;
}

/* Music Page */

.album-title {
  margin: 0;
}

.album {
  width: 100%;
  min-height: 360px;
  margin-bottom: 4em;
}

.album img {
  padding: 0;
  margin: 0;
}

.bc-player {
  display: inline-block;
  border: 0;
  width: 100%;
  height: 360px;
}

.album div.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.album div.gallery > img {
  flex: auto;
  width: 100px;
  height: 100px;
  margin: 2px;
  object-fit: cover;
}

.album span.spacer {
  padding: 0 0.5em;
}

/* Responsive embeds */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 20px 0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
  overflow: hidden;
}

/* Large Screens */

@media (min-width: 769px) {
  header {
    height: 250px;
  }

  nav {
    background: none;
    font-size: 2em;
    margin-bottom: 0;
    padding: 35px;
  }

  ul.nav-menu li {
    display: inline-block;
  }

  ul.nav-menu li.nav-icon {
    display: none;
  }

  ul.nav-menu li a {
    padding: 0 15px 10px 15px;
  }

  ul.nav-menu li a:hover,
  ul.nav-menu li a#current {
    padding-bottom: 5px;
  }

  #wrapper {
    flex-direction: row;
    flex: 1;
  }

  h1 {
    font-size: 2.5em;
  }

  #blog,
  section{
    flex: 1;
    padding: 0 40px;
  }

  .album div.gallery > img {
    height: 140px;
  }

  form .send,
  #isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action > input {
    width: 33.33%;
  }

  aside {
    flex: 0 0 400px;
  }

  form input {
    width: 50%;
  }

  aside form input.button {
    width: 50%;
  }

  .bc-player {
    width: 360px;
  }

  section #isso-thread {
    padding: 0 40px;
  }

  #isso-root .isso-comment .isso-follow-up {
    padding-left: 80px;
  }
}
