---
---
$orange: #ea5727;
$black: #231d24;
$dark-beige: #ccb89c;
$light-beige: #f2ede6;
$twitter-blue: #6aa9e0;
$facebook-blue: #49629d;

$serif: "PT Serif", serif;
$sans: "PT Sans Narrow", sans-serif;
$mono: "Inconsolata", monospace;

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif|Inconsolata');
@import url('genericons/genericons.css');
@import url('syntax.css');
@import url('plyr.css');

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  background: $black;
}

article, section, aside, nav, header, footer, figure, figcaption {
  display: block;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}

body {
  background: #fff;
  color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  font-family: $serif;
  font-size: 100%;
}

h1, h2, h3 {
  color: #000;
  font-family: $sans;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

section h1,
section h2,
section h3 {
  margin-bottom: 0.5em;
}


p {
  line-height: 1.6em;
  margin: 1em 0;
}

header {
  background-image: url("/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex: none;
  height: 100px;
}

a#site-header {
  color: $orange;
}

#site-header {
  font-size: 8em;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $light-beige;
  color: #333;
  font-family: $sans;
  font-size: 2em;
  margin-bottom: 20px;
  padding: 10px;
}

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.nav-menu li
{
  display: none;
}

ul.nav-menu li a {
  display: inline-block;
  color: #333;
  padding: 0;
  text-decoration: none;
}

ul.nav-menu li a:hover {
  border-bottom: 5px solid $dark-beige;
  padding-bottom: 0;
}

ul.nav-menu li a#current {
  color: $orange;
  border-bottom: 5px solid $orange;
  padding-bottom: 0;
}

ul.nav-menu.responsive {
  position: relative;
}

ul.nav-menu.responsive li {
  float: none;
  display: inline;
}

ul.nav-menu.responsive li a {
  display: block;
  text-align: center;
}

ul.nav-menu.responsive li a:hover,
ul.nav-menu.responsive li a#current,
ul.nav-menu li.nav-icon a:hover {
  border-bottom: 0;
}

ul.nav-menu li.nav-icon {
  float: right;
  display: inline-block;
  padding-bottom: 0;
}

ul.nav-menu li.nav-icon a:after {
  font: normal 16px/1 'Genericons';
  content: '\f431';
}

ul.nav-menu.responsive li.nav-icon {
  position: absolute;
  right: 0;
  top: 0;
}

ul.nav-menu.responsive li.nav-icon a:after {
  font: normal 16px/1 'Genericons';
  content: '\f432';
}

#wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#blog,
section {
  padding: 0 20px;
}

article {
  margin-bottom: 60px;
}

section a:link,
section a:visited,
article a:link,
article a:visited,
aside a:link,
aside a:visited {
  color: $orange;
  text-decoration: none;
}

.entry-title {
  font-family: $sans;
  font-size: 2em;
}

section a.entry-title,
article a.entry-title,
.entry-meta .date a {
  color: #000;
}

.entry-meta .date a:hover {
  color: $orange;
}

.entry-meta {
  font-family: $sans;
  display: block;
  font-size: 1em;
  font-weight: 400;
}

.entry-meta .date {
  margin-right: 1em;
}

.entry-meta .date a:before,
.entry-meta .categories:before,
.entry-meta .tags:before {
  display: inline-block;
  vertical-align: -0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entry-meta .date a:before {
  font: normal 16px/1 'Genericons';
  content: '\f303';
}

.entry-meta .categories:before {
  font: normal 16px/1 'Genericons';
  content: '\f301';
}

.entry-meta .categories {
  margin-right: 20px;
}

.entry-meta .tags:before {
  font: normal 16px/1 'Genericons';
  content: '\f302';
}

blockquote {
  display: block;
  color: #666;
  border-left: 5px solid #666;
  padding-left: 1em;
  margin: 2em;
}

blockquote:before {
  color: #666;
  font: normal 32px/1 'Genericons';
  content: '\f106';
  vertical-align: -0.2em;
}

blockquote p {
  margin: 0;
}

/* Sidebar */

aside .module {
  margin-top: 40px;
}

.spotify:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f515';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.newsletter:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f463';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.shows:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f307';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.tips:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f221';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

.links:after {
  color: $dark-beige;
  font: normal 32px/1 'Genericons';
  content: '\f107';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

aside {
  background: $light-beige;
  padding: 40px;
  line-height: 1.6em;
}

aside ul {
  padding: 0;
}

aside li {
  list-style-type: none;
}

/* Footer */

footer {
  color: #999;
  flex: none;
  font-size: 1em;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #999;
}

.genericon-twitter,
.genericon-facebook,
.genericon-home,
.genericon-top {
  font-size: 32px;
  padding: 0 0.5em;
}

.genericon-facebook:hover {
  color: $facebook-blue;
}

.genericon-twitter:hover {
  color: $twitter-blue;
}

section ul,
article ul {
  margin: 10px 0;
  padding: 0 2em;
}

section li,
article li {
  line-height: 1.6em;
  padding-bottom: 0.5em;
}

section li a:link,
section li a:link {
  border-bottom: 0;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}

img.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin: 1em auto;
}

img.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}

video {
  width: 100%;
  height: auto;
}

a.vid-vimeo h2,
a.vid-youtube h2 {
  display: inline-block;
}

a.vid-vimeo:after,
a.vid-youtube:after {
  color: #999;
  font: normal 32px/1 'Genericons';
  vertical-align: -0.2em;
  padding-left: 0.2em;
}

a.vid-vimeo:after { content: '\f212'; }
a.vid-youtube:after { content: '\f213'; }

/* Code */

pre {
  font-family: $mono;
  margin: 0;
}

code {
  background: $light-beige;
  color: #000;
  font-family: $mono;
  border-radius: 3px;
  padding: 0.2em;
}

pre code {
  background: inherit;
  color: inherit;
  border-radius: none;
  padding: none;
}


.lineno {
  color: #999;
}

.highlight {
  background: $light-beige;
  border-radius: 4px;
  margin: 10px;
  padding: 0.5em;
}

/* Forms */

form {
  margin-top: 3em;
}

form input {
  background: #fff;
  border: 5px solid $dark-beige;
  border-radius: 0;
  color: #000;
  font-family: $serif;
  font-size: 1em;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-appearance: none;
}

form textarea {
  background: #fff;
  border: 5px solid $dark-beige;
  border-radius: 0;
  color: #000;
  font-family: $serif;
  font-size: 1em;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
}

form input:focus, form textarea:focus {
  background: #fff;
}

form .send {
  background: #fff;
  border: 5px solid #000;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  float: right;
  font-family: $sans;
  font-size: 1.5em;
  margin-top: 20px;
  width: 100%;
  transition: color 0.5s, background 0.5s;
  -webkit-appearance: none;
}

form .send:hover,
aside form input.button:hover {
  background: $orange;
  border-color: $orange;
  color: #fff;
  transition: color 0.2s, background 0.2s;
}

form .send:active,
aside form input.button:active {
  background: #000;
  border-color: $orange;
  color: $orange;
  transition: color 0s, background 0s;
}

aside form input {
  width: 100%;
}

aside form input.button {
  background: #fff;
  border: 5px solid #000;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  font-family: $sans;
  font-size: 1.2em;
  width: 100%;
  transition: color 0.5s, background 0.5s;
}

/* Pagination */

.pagination {
  font-family: $sans;
  font-size: 1.5em;
}

.pagination a {
  color: $orange;
}

.pagination a.next {
  margin-left: 0.5em;
}

.pagination a.previous {
  margin-right: 0.5em;
}

.pagination a.next:after {
  font: normal 32px/1 'Genericons';
  content: '\f429';
  vertical-align: -0.25em;
}

.pagination a.previous:before {
  font: normal 32px/1 'Genericons';
  content: '\f430';
  vertical-align: -0.25em;
}

/* Music Page */

.album-title {
  margin: 0;
}

.album {
  width: 100%;
  min-height: 360px;
  margin: 20px 0 60px 0;
}

.album img {
  padding: 0;
  margin: 0;
}

.bc-player {
  display: inline-block;
  border: 0;
  width: 100%;
  height: 360px;
}

/* Responsive embeds */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 20px 0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
  overflow: hidden;
}

/* Large Screens */

@media (min-width: 769px) {
  header {
    height: 250px;
  }

  nav {
    background: none;
    font-size: 2em;
    margin-bottom: 0;
    padding: 35px;
  }

  ul.nav-menu li {
    display: inline-block;
  }

  ul.nav-menu li.nav-icon {
    display: none;
  }

  ul.nav-menu li a {
    padding: 0 15px 5px 15px;
  }

  #wrapper {
    flex-direction: row;
    flex: 1;
  }

  .entry-title {
    font-size: 3em;
  }

  #blog,
  section{
    flex: 1;
    padding: 0 40px;
  }

  form .send {
    width: 33%;
  }

  aside {
    flex: 0 0 400px;
  }

  form input {
    width: 50%;
  }

  aside form input.button {
    width: 50%;
  }
  .bc-player {
    width: 360px;
  }
}
