<footer>
  <div class="bottom-nav">
    <a href="https://twitter.com/ochremusic" class="genericon genericon-twitter"></a>
    <a href="https://facebook.com/ochremusic" class="genericon genericon-facebook"></a>
    <a href="/" class="genericon genericon-home"></a>
    <a href="#" class="genericon genericon-top"></a>
  </div>
  &copy; 2002&ndash;{{ "now" | date: "%Y" }} Christopher Leary
  <div class="credits">
    Header image: <em>Understory</em> cover art, by
    <a href="https://www.guywarley.com/">Guy Warley</a>.
  </div>
</footer>
