<footer>
  <p>
    &copy; 2009&ndash;{{ "now" | date: "%Y" }} Christopher Leary
  </p>
  <a href="https://twitter.com/ochremusic"><span class="genericon genericon-twitter"></span></a>
  <a href="https://facebook.com/ochremusic"><span class="genericon genericon-facebook"></span></a>
  <a href="/"><span class="genericon genericon-home"></span></a>
  <a href="#"><span class="genericon genericon-top"></span></a>
</footer>
<script src="/js/plyr.js"></script>
<script src="/js/contact.js"></script>
<script>plyr.setup();</script>
</body>

</html>
