<!DOCTYPE html>
<html lang="en-GB">
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=oLaPG4klyy">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png?v=oLaPG4klyy" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png?v=oLaPG4klyy" sizes="16x16">
  <link rel="manifest" href="/assets/icons/manifest.json?v=oLaPG4klyy">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=oLaPG4klyy" color="#ea5727">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=oLaPG4klyy">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=oLaPG4klyy">
  <meta name="theme-color" content="#ffffff">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
  {% seo title=false %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3840388-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <a href="{{ site.baseurl }}/">
    <header data-stellar-background-ratio="0.5"></header>
  </a>
  <nav>
    <ul class="nav-menu" id="main-nav">
      <li><a href="{{ site.baseurl }}/" {% if page.title == "Home" %}id="current"{% endif %}>Blog</a></li>
      <li><a href="{{ site.baseurl }}/music/" {% if page.title == "Music" %}id="current"{% endif %}>Music</a></li>
      <li><a href="{{ site.baseurl }}/mastering/" {% if page.title == "Mastering" %}id="current"{% endif %}>Mastering</a></li>
      <li><a href="{{ site.baseurl }}/portfolio/" {% if page.title == "Portfolio" %}id="current"{% endif %}>Portfolio</a></li>
      <li><a href="{{ site.baseurl }}/merch/" {% if page.title == "Merch" %}id="current"{% endif %}>Merch</a></li>
      <li><a href="{{ site.baseurl }}/biography/" {% if page.title == "Biography" %}id="current"{% endif %}>Biography</a></li>
      <li><a href="{{ site.baseurl }}/contact/" {% if page.title == "Contact" %}id="current"{% endif %}>Contact</a></li>
      <li class="nav-icon">
        <a href="javascript:void(0);" onclick="nav()">Menu</a>
      </li>
    </ul>
  </nav>
  <script>
  function nav() {
    var x = document.getElementById("main-nav");
    if (x.className === "nav-menu") {
      x.className += " responsive";
    } else {
      x.className = "nav-menu";
    }
  }
  </script>
