<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" media="screen" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-touch-icon.png?v=oLaPG4klyy"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicon-32x32.png?v=oLaPG4klyy"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicon-16x16.png?v=oLaPG4klyy"
      sizes="16x16"
    />
    <link rel="manifest" href="/assets/icons/manifest.json?v=oLaPG4klyy" />
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=oLaPG4klyy" color="#ea5727" />
    <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=oLaPG4klyy" />
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=oLaPG4klyy" />
    <meta name="theme-color" content="#ffffff" />
    <title>
      {% if page.title %} {{ page.title | smartify }} | {{ site.title }} {% else %} {{ site.title }}
      | {{ site.description }} {% endif %}
    </title>
    {% seo title=false %}
  </head>

  <body>
    {% include nav.html %}
    <a href="{{ site.baseurl }}/">
      <header
        class="lazyload"
        data-bg="{{ site.baseurl }}/assets/header.jpg"
        data-stellar-background-ratio="0.5"
      ></header>
    </a>
    <script>
      function nav() {
        var x = document.getElementById('main-nav');
        if (x.className === 'nav-menu') {
          x.className += ' responsive';
        } else {
          x.className = 'nav-menu';
        }
      }
    </script>
  </body>
</html>
