<nav>
  <ul class="nav-menu" id="main-nav">
    <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}id="current"{% endif %}>Blog</a></li>
    <li><a href="{{ site.baseurl }}/music/" {% if page.title == "Music" %}id="current"{% endif %}>Music</a></li>
    <li><a href="{{ site.baseurl }}/portfolio/" {% if page.title == "Portfolio" %}id="current"{% endif %}>Portfolio</a></li>
    <li><a href="{{ site.baseurl }}/merch/" {% if page.title == "Merch" %}id="current"{% endif %}>Merch</a></li>
    <li><a href="{{ site.baseurl }}/biography/" {% if page.title == "Biography" %}id="current"{% endif %}>Biography</a></li>
    <!-- <li><a href="{{ site.baseurl }}/mastering/" {% if page.title == "Mastering" %}id="current"{% endif %}>Mastering</a></li> -->
    <li><a href="{{ site.baseurl }}/contact/" {% if page.title == "Contact" %}id="current"{% endif %}>Contact</a></li>
    <li class="nav-icon">
      <a href="javascript:void(0);" onclick="nav()">Menu</a>
    </li>
  </ul>
</nav>
