<aside>
  <h3>Social</h3>
  <div id="followers">
  <ul>
  <li><a href="https://play.spotify.com/artist/0OmHDBh5styCXDWKwz58Ts"><span class="spotify"></span>&nbsp;Spotify</a></li>
  <li><a href="http://soundcloud.com/ochre"><span class="soundcloud"></span>&nbsp;SoundCloud</a></li>
  <li><a href="https://www.facebook.com/ochremusic"><span class="facebook"></span>&nbsp;Facebook</a></li>
  <li><a href="https://twitter.com/ochremusic"><span class="twitter"></span>&nbsp;Twitter</a></li>
</ul>
</div>

<a href="http://eepurl.com/c9Kck"><h3 class="newsletter module">Newsletter</h3></a>
<p>
  Join <span id="mailchimp">my</span> subscribers and be notified about new releases.
</p>

<div id="mc_embed_signup">
  <form action="//ochremusic.us2.list-manage.com/subscribe/post?u=151ec83f4c25861e18b82743a&amp;id=356ce80316" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_151ec83f4c25861e18b82743a_356ce80316" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>

<a href="http://www.songkick.com/artists/48552-ochre"><h3 class="shows module">Gigs<img src="{{ site.baseurl }}/assets/sk-badge-pink.svg" class="sk-badge-pink" alt="Show listings by Songkick"></h3></a>
<p id="songkick">
  <span id="sk-none">No dates currently available.</span>
</p>

<h3 class="tips module">Tip Jar</h3>
<p>
  <a href="https://www.paypal.me/csleary">Tip via PayPal</a>, or with <a href="javascript:void(0)" id="xem-button">XEM</a>.
</p>
<div class="xem-info">
  <p>
    Please send XEM tips to the address below. Thanks! 🙏
  </p>
  <textarea class="xem-address" onclick="this.select()" readonly="readonly">NAER66DXCNYEBNMTWAPKG7CU27CMUPTQQDSM2KL6</textarea>
  <a href="https://nem.io">What is XEM?</a>
</div>
<p>
  All tips very gratefully received.
</p>

<h3 class="links module">Links</h3>
<ul>
  <li><a href="https://play.spotify.com/artist/0OmHDBh5styCXDWKwz58Ts">Spotify</a></li>
  <li><a href="https://ochre.bandcamp.com/">Bandcamp</a></li>
  <li><a href="https://nemp3.app/artist/5b4a45a5cb321d00b230dbaa/">NEMp3</a></li>
  <li><a href="https://resonate.is/profile/3409/">Resonate</a></li>
  <li><a href="https://itunes.apple.com/us/artist/ochre/id84229320">iTunes</a></li>
  <li><a href="http://soundcloud.com/ochre">SoundCloud</a></li>
  <li><a href="https://twitter.com/ochremusic">Twitter</a></li>
  <li><a href="https://www.facebook.com/ochremusic">Facebook</a></li>
  <li><a href="http://www.discogs.com/artist/Ochre">Discogs</a></li>
  <li><a href="https://www.youtube.com/user/ochremusic">YouTube</a></li>
  <li><a href="http://melograf.com/">Melograf Mastering</a></li>
  <li><a href="https://keybase.io/csleary">Keybase</a></li>
  <li><a href="http://nkurence.com/">nkurence</a></li>
</ul>

<h3 class="module">Recent Posts</h3>
<ul>
  {% for post in site.posts limit:5 %}
  <li><a href="{{ post.url }}">{{ post.title | smartify }}</a></li>
  {% endfor %}
</ul>

<h3 class="module">Melograf Mastering</h3>
<p>
  Please visit <a href="https://melograf.com/">Melograf Mastering</a> for more information about my mastering work.
</p>
</aside>
