<!DOCTYPE html>
<html lang="en-GB">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="outer-container">
      {% include masthead.html %}
      <div class="container">
        <section>
          <div>
            <h1 class="entry-title">{{ page.title | smartify }}</h1>
            {% if page.image %}
            <a href="/assets/{{ page.image }}">
              {% picture "{{ page.image }}" --picture class="lazyload" --alt {{ page.image-alt }} %}
            </a>
            {% endif %} {{ content }}
            <div class="entry-meta page-meta">
              <div class="date">
                <time datetime="{{ page.date }}">
                  <a href="{{ site.baseurl }}{{ post.url }}" title="Permalink to: {{ page.title }}">
                    Originally posted on the {% assign d = page.date | date: "%-d" %} {% case d %}
                    {% when '1' or '21' or '31' %} {{ d }}st {% when '2' or '22' %} {{ d }}nd {%
                    when '3' or '23' %} {{ d }}rd {% else %} {{ d }}th {% endcase %} of {{ page.date
                    | date: "%B" }}, {{ page.date | date: "%Y" }}
                  </a>
                </time>
              </div>
              {% if page.categories.size > 0 %}
              <div class="categories">
                {% assign categories = page.categories %} {% for category in categories %}
                <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">
                  {{ category }}
                </a>
                {% endfor %}
              </div>
              {% endif %} {% if page.tags.size > 0 %}
              <div class="tags">
                {% assign tags = page.tags %} {% for tag in tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"> {{ tag | downcase }} </a> {%
                endfor %}
              </div>
              {% endif %}
            </div>
            <div class="post-nav">
              {% if page.previous.url %}
              <a class="previous-post" href="{{ page.previous.url }}">
                {{ page.previous.title }}
              </a>
              {% endif %} {% if page.next.url %}
              <a class="next-post" href="{{ page.next.url }}"> {{ page.next.title }} </a> {% endif
              %}
            </div>
          </div>
          {% include footer.html %}
        </section>
        {% include sidebar.html %}
      </div>
      {% include scripts.html %}
    </div>
  </body>
</html>
