{% include header.html %}
<div id="wrapper">
  <div id="blog">
    {% for post in site.posts %}
    <article>
      <a class="entry-title" href="{{ post.url }}">{{ post.title }}</a>
      <div class="entry-meta">
        <span class="date">
          <a href="{{ post.url }}" title="Permalink">{{ site.time | date_to_string }}</a>
        </span>
        <span class="categories">
          {{ post.categories }}
        </span>
      </div>
      {{ post.excerpt }}
    </article>
    {% endfor %}
  </div>
  {% include sidebar.html %}
</div>
{% include footer.html %}
