{% include header.html %}
<div id="wrapper">
  <section>
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
      <span class="date">
        <a href="{{ site.baseurl }}{{ post.url }}" title="Permalink">
          {% assign d = page.date | date: "%-d"  %}
          {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th
          {% endcase %}of
          {{ page.date | date: "%B" }},
          {{ page.date | date: "%Y" }}
        </a>
      </span>
    </div>
    {{ content }}
    <div class="post-nav">
      {% if page.previous.url %}
        <a class="previous-post" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      {% else %}
        <a class="previous-post"></a>
      {% endif %}
      {% if page.next.url %}
        <a class="next-post" href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% endif %}
    </div>
    {% include comments.html %}
  </section>
  {% include sidebar.html %}
</div>
{% include footer.html %}
